header, nav, section {
  border: 1px solid black;
}

header {
  padding-left: 15px;
  background-color: #177E89;
}

h1 {
  font-size: 37px;
  padding-left: 10px;
}

p1 {
  font-size: 17px;
  padding-left: 15px;
}

nav, section {
  padding-left: 5px;
}

nav {
background-color: #619C9A;
color: gray;
padding-top: 15px;
}

p2 {
color: black;
padding: 13px;
font-size: 16.5px;
}

ul {
  font-size: 20px;
  color: #F6F0ED;
}

#list {
  color: #024190;
}

#opt {
  color: black;
  text-decoration: none;
}

section {
  background-color: #73BFB8;
  padding-right: 50px;
}

p3 {
  font-size: 25px;
  padding: 15px;
  padding-top: 5px;
  }

p4 {
padding: 15px;
font-size: 16.5px;
}

p6, p7, p8, p9 {
  line-height: 1.6;
}

li {    /**IDK if this effects anything**/
  padding-left: 10px;
  padding: 5px;
}

div {
  font-size: 20px;
  border-right: 50px;
}

span {
  font-size: 17px;
  line-height: 1.9;
}

a1 {
  insert: "&trade"
}

#AZ {
  color: black;
  text-decoration: none;
}
